.yt{
    display: flex;
}
.lineimg{
    background-color: white;
    width: 100px;
    height: 100px;
}
.ytimg{
    width: 60px;
    height: 60px;
}
.flexofbottom{
    display: flex;
    justify-content: space-between;
}
.buttonflex{
    border-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
}
